<!DOCTYPE html>
html(lang="en")

    head

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", href="Assets/Scss/style.css")

        title Giphy | API

    body

        #main-container

            #sidebar-container

                #add-tag

                    #sidebar-title.

                        Search Gifs

                    input(type="text" id="user-search" placeholder="Gif category...")

                    #submit.

                        Add

                #sidebar-divider

                #available-tags

            #main-divider

            #content-container

                #gif-display

        script(src="Assets/JavaScript/script.js")